.Home, .About, .Devices, .Contact, .Error {
  width: 100vw;
  display:flex;
  flex-direction: column;
  align-items:center;
  background-color: white;
  &.dark{
    background-color: #242424;
  }
}

.Home {
  gap: 50px;
}
.About, .Devices, .Contact, .Error{
  height:100%;
  color:#242424;
  padding-bottom: 20px;
  &.dark{
    color:white;
  }
}


/* Home */
.Body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

}
.Text_Section {
  font-family: var(--Serif_font, "Times New Roman");
  font-weight: 400;
  font-style: normal;
  text-align: center;
  align-content: center;
  gap: 20px;
  padding: 40px 100px;
  box-sizing: border-box;
}

.Hero_Container {
    height: 100vh;
    width: 100vw;
    background-image: url('src/assets/background (1).jpg');
    filter: grayscale(0.25);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
    border-bottom-style: solid;
    border-bottom-width: 40px;
    border-bottom-color:var(--secondary) ;    
}

.Hero_Header {
    width: 350px;
    height: 150px;
    border-radius: 20px;
    background-color:var(--shapes) ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    filter: initial;
}

/* Devices */

.deviceContainer {
  display: flex;
  flex-direction: column;
}

.Error{
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 100px;
}

@media (max-width: 1024px){
  .Hero_Header{
    width:280px;
    height:120px;
  }
  .Text_Section{
    padding:80px;
  }
}
@media (max-width: 767px){
  .Text_Section{
    padding:40px;
  }
}

