@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

.Menu{
    display: flex;
    flex-direction: row;
    gap: 40px;
    
}
.Menu_Items{
    font-family: 'New Amsterdam', sans-serif;
    letter-spacing: 1.2px;
    color:#FA940F ;
    font-size: 28px;
}

.Menu_Item:active{
    font-weight: 600;
}

.Header{
    z-index: 99;
    height: 40px;
    display: flex;
    position:sticky;
    top:0;
    flex-direction: row;
    align-items: center;
    padding:20px 40px;
    gap: 50px;
    background-color: #312F2B;
    
}

.Logo{
    width: 60px;
    height: 60px;
}

@media (max-width: 767px){
    .Menu_Item{
        font-size: 22px;
        line-height: 1.2em;
        letter-spacing: 0.8px;
    }
    .Menu{
        gap: 20px;
    }
    .Header{
        gap:25px;
    }
}

/*
#0FA6FA
#BA823A
#FA940F
#4181A5
#312F2B
*/