.Menu {
    display: flex;
    flex-direction: row;
    gap: 40px;    
}
.Menu_Items {
    font-family: var(--Sans_Serif_font), sans-serif;
    letter-spacing: 1.2px;
    color: var(--secondary) ;
    font-size: 28px;
}
.Menu_Item:active{
    color: #DA940F;
}
.Header {
    z-index: 99;
    height: 40px;
    display: flex;
    position:sticky;
    top:0;
    flex-direction: row;
    align-items: center;
    padding:20px 40px;
    gap: 50px;
    background-color: var(--shapes);    
}

.Logo {
    width: 60px;
    height: 60px;
}
.Logo:active{
    opacity: 0.5;
}


.Footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    background-color: var(--shapes);
    padding: 60px 30px 20px;
    gap:20px;
}
.Footer > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.Footer_Socials{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.Footer_Text{
    color: var(--secondary);
    font-size: 20px;
}
.Copyright{
    font-size: 12px;
    font-family: var(--Serif_font);
    filter: opacity(0.6);
    color:white;
}

@media (max-width: 1024px){
    .Menu_Item{
        font-size: 22px;
        line-height: 1.2em;
        letter-spacing: 0.8px;
    }
}
@media (max-width: 767px){
    .Menu_Item{
        font-size: 17px;
        line-height: 1.2em;
        word-spacing: 0.2px;
        letter-spacing: 0.8px;
    }
    .Menu{
        gap: 5px;
    }
    .Header{
        gap:10px;
    }
}


/*theme_Button*/
.Theme_Button{ 

    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position:absolute;
    align-self: center;
    right:5%;
    z-index: 99;
}

#switch{
    height: 0;
    width: 0;
    opacity: 0;
}
  
.slider {
    cursor: pointer;
    width: 60px;
    height: 30px;
    background-color: white;
    display: block;
    border-radius: 40px;
    position: relative;

    &.dark{
        background-color: black;
    }
    &.dark::after{
        width: 26px;
        height: 26px;
        content:'';
        background-image: url(../assets/moon.svg);
        align-content: center;
        background-color: white;
        transform: translateX(26px);
    }
  }
  
.slider::after {
    display: flex;
    flex-wrap: wrap-reverse;
    content:"";
    background-image: url(../assets/sun.svg);
    background-size: 75% 75%;
    background-position:center;
    background-repeat: no-repeat;
    position: absolute;
    top:2px;
    left:4px;
    width: 26px;
    height: 26px;
    background-color: black;
    border-radius: 100%;
    transition: 0.3s;
  }
.slider:active:after {
    background-color: grey;
  }

.dropdown {
    background-color: var(--shapes);

}
.dropdown_Button {
    background-color: var(--shapes);
    width:40px;
    height: 20px;
    color: var(--secondary);
}
.dropdown_Button:hover {
    background-color: white;
    color:var(--shapes);
}
